{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Log in!{% endblock %}

{% block body %}{{ parent() }}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Tu es connecté avec {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

    <h2 class="h3 mb-3 font-weight-normal">Connecte toi !</h2>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>
   

    <button class="validationButton" type="submit">
        Se connecter
    </button>
</form>
<div class="registerButton">
    <a href="{{ path('register') }}">    
        <button class="addButton">
            Rejoins nous !
        </button>
    </a>

</div>


{% endblock %}
