{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}Rejoins Nous !{% endblock %}

{% block body %}{{ parent() }}
{{ form_start(registerform) }}
    <h2>Rejoins nous !</h2>
    <div>
        {{ form_row(registerform.username) }}
    </div>
    <div>
        {{ form_row(registerform.email) }}
    </div>
    <div>
        {{ form_row(registerform.plainPassword) }}
    </div>
    <div>
        {{ form_row(registerform.color) }}
    </div>
    <div>
        {{ form_errors(registerform) }}
        <input class="validationButton" type="submit" value="S'enregistrer"/>
    </div>
    <a href="/">
Déjà inscrit ?
    </a>
{{ form_end(registerform) }}
{% endblock %}