.tableShow{
    width: 100vw;
    display:flex;
    justify-content: center;
    margin: 0;
    tbody{
        width: 90vw;
        border: 2px solid #000;
        padding: 1vw 3vw;
        border-radius: 5px;
        .tableTitle{
            width: 90vw;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            h3{
                text-align: center;
                width: 89vw;
                font-size: 30px;
                background-color: rgba(255,255,255,0.6);
                border-radius: 5px;
                padding: 1vw 0;
            }
        }
        .start_end{
            margin-top: 1vw;
            width: 90vw;
            font-size: 20px;
            display:flex;
            justify-content: center;
            .status{
                width: 20vw;
            }
            td{
                display:flex;
                justify-content: center;
                align-items: center;
            }
        }
    }
}
.tableIndex{
    width:90vw;
    thead{
        border: 2px solid #000;
    }
    tbody{
        text-align: center;
        .itemList{
            height: 50px;
        }
    }
}