body{
    background-color: lightblue;
    margin: 0;
    header{
        background-color: rgb(94, 162, 185);
        display:flex;
        width: 100vw;
        h1{
            margin:0;
        }
        a{
            color:white;
            text-decoration: none;
        }
    }
    .notLogged{
        height: 20vh;
        justify-content:center;
        align-items: center;
        h1{
            font-size: 14vh;
        }
    }
    .logged{
        height: 120px;
        flex-direction: column;
        justify-content: center;
    }
    h2{
        text-align:center;
    }
    nav{
        width: 100vw;
        background-color: rgb(30, 83, 100);
        color:white;
        ul{
            width: 100vw;
            padding:1.5vw 0;
            margin:0;
            display:flex;
            flex-direction: row;
            justify-content: space-evenly;
            li{
                list-style-type: none;
            }
        }
    }
    .title{
        width: 100vw;
        display:flex;
        flex-direction:row;
        justify-content: space-between;
        align-items: center;
        .profileName{
            font-size: 30px;
        }
        .logout{
            background-color: rgb(221, 47, 47);
            color:white;
            width: 60px;
            height:60px;
            border: none;
            margin: 0;
        }
    }

    a{
        text-decoration: none;
    }

}