.fc-head-container .fc-widget-header{
    border: 1px solid black !important;
    background-color: rgb(120, 191, 196);
}
.fc-view-container{
    background-color: #CDEAE1;
    width: 95vw;
    margin: 0 2.5vw;
    border: 1px solid black !important;        
}
.fc-unthemed .fc-day{
    border: 1px solid black !important;        
}
.fc-unthemed td.fc-today{
    background-color: rgb(133, 184, 167) !important;

}
.fc-other-month{
    background-color: #E8F4F0;
}
.fc-content{
    background-color: rgba(255,255,255,0.6);
    color: #000;
    border-radius: 5px;
    margin: 0.1vw;
    width: 100%;
    height: 80%;
}
.fc .fc-head .fc-row .fc-content-skeleton table, .fc .fc-row .fc-content-skeleton td, .fc .fc-row .fc-mirror-skeleton td {
    border-color: black !important;
}
.fc-event.fc-draggable, .fc-event[href], .fc-popover .fc-header .fc-close, a.fc-more, a[data-goto] {
display: flex;
justify-content: center;
align-items: center;

}


.fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-popover .fc-header {
    background-color: #000 !important;
}
.fc-unthemed .fc-content, .fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-list-view, .fc-unthemed .fc-popover, .fc-unthemed .fc-row, .fc-unthemed tbody, .fc-unthemed td, .fc-unthemed th, .fc-unthemed thead {
    border-color: rgb(5, 12, 107) !important;
}
