#family {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding:0;
    li {
        display: flex;
        flex-direction: row;
        border: 2px solid black;
        border-radius: 5px;
        margin: 0.5vw 0;
        width: 50%;
        .family {
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .colorFamily {
            width: 40px;
            height: 40px;
            border-right: 2px solid black;
        }
    }
}
.divButton{
    display:flex;
    justify-content: center;
}