form{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.registerButton{
    width: 100vw;
    display:flex;
    justify-content: center;
}
input{
    width: 30vw;
    margin: 0.5vw;
    height: 30px;
    border-radius: 5px;
    font-size: 20px;
    &[type=checkbox]{
        width: 20px;
    }
    .checkbox{
        display: flex;
        align-items: center;
    }
}
.backButton{
    background-color: rgb(235, 21, 57);
    color:white;
    border-radius: 10px;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    border:none;
    width: 20vw;
    height: 50px;
    margin: 1vw 0;
    &:hover{
        cursor: pointer;
    }
}
.validationButton{
    background-color: rgb(64, 235, 21);
    border-radius: 10px;
    font-size: 20px;
    display:flex;
    justify-content: center;
    align-items:center;
    border:none;
    width: 20vw;
    height: 50px;
    margin: 1vw 0;
    &:hover{
        cursor: pointer;
    }
}
.addButton{
    background-color: rgb(45, 194, 8);
    border-radius: 10px;
    font-size: 30px;
    display:flex;
    justify-content: center;
    align-items:center;
    border:none;
    width: 30vw;
    height: 70px;
    margin: 1vw 0;
    &:hover{
        cursor: pointer;
    }
}
select{
    width: 20vw;
    height: 30px;
}