#supply{
    display:flex;
    padding:0;
    flex-direction: column;
    align-items: center;
    li{
        display: flex;
        align-items: center;
        margin: 0.5vw 0;
        border: 2px solid black;
        border-radius: 5px;
        height: 30px;
        padding: 0.5vw;
    }
}