{% extends 'baseLogged.html.twig' %}

{% block title %}{{ parent() }}Ajouter un membre{% endblock %}

{% block body %}{{ parent() }}
{{ form_start(addMemberForm) }}
<h2>Ajouter une membre au foyer</h2>
{{ form_row(addMemberForm.Name) }}
{{ form_row(addMemberForm.Age) }}
{{ form_row(addMemberForm.Color) }}
{{form_row(addMemberForm.Type)}}
<input class="validationButton" type="submit" value="Ajouter"/>
{{ form_end(addMemberForm) }}
<div class="divButton">
    <a href="{{ path('family') }}">
        <button class="backButton">Retour</button>
    </a>
</div>
{% endblock %}
