{% extends 'baseLogged.html.twig' %}

{% block title %}{{ parent() }}Foyer{% endblock %}

{% block body %}{{ parent() }}

<h2>Foyer de {{ username }}</h2>

<ul id="family">
    {% if familyArray == NULL %}
        <p>Vous n'avez ajouté aucune personne à votre foyer, pas même vous. Pensez à le faire !</p>
    {% endif %}
    {% for member in familyArray %}
        <li>
            <div class="colorFamily" style="background-color:{{ member.color }};">
            </div>
            <div class="family" style="width:150px;">         
                {{ member.name }}
            </div>
            <div class="family">
                {{ member.age }} an.s
            </div>
        </li>
    {% endfor %}
</ul>
<div class="divButton">
    <a href="{{ path('addFamily') }}">
        <button class="addButton"> Ajouter un membre au foyer </button>
    </a>
</div>
{% endblock %}
