{% extends 'baseLogged.html.twig' %}

{% block title %}{{parent()}} Profil de {{ username }} {% endblock %}

{% block body %}{{ parent() }}
<h2>Profil de {{ username }}</h2>
<p style="text-align:center;">Email actuel : {{ email }}</p>

{{ form_start(usernameForm) }}
    <h3>Changer le pseudo</h3>
    {{ form_row(usernameForm.username) }}
    <input class="validationButton" type="submit" value="Changer de pseudo"/>
{{ form_end(usernameForm) }}

{{ form_start(changePasswordForm) }}
    <h3>Chancher le mot de passe</h3>
    {{ form_row(changePasswordForm.oldPassword) }}
    {{ form_row(changePasswordForm.plainPassword) }}
    <input class="validationButton" type="submit" value="Changer le mot de passe"/>
{{ form_end(changePasswordForm) }}

{% endblock %}
