{% extends 'base.html.twig' %}

{% block title %}Hello ActivityController!{% endblock %}

{% block body %}
 
    <h2>Activity Name</h2>
  <ul>
                {% for Activity in activity  %}
                  
                    <li><p>{{random([Activity.Name]) }}</p></li>
                   {# <h1> {% set rand = random((Activity.Name|length)-1) %}</h1>               #}




                {% endfor %}
{% endblock %}
