{% extends 'baseLogged.html.twig' %}
{% block title %}{{parent()}} Supprimer une activité{% endblock %}

{% block body %}
<form method="post" action="{{ path('booking_delete', {'id': booking.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ booking.id) }}">
    <button class="btn backButton">Delete</button>
</form>
{% endblock %}