{% extends 'baseLogged.html.twig' %}
{% block title %}{{parent() }} Ajouter une activité{% endblock %}

{% block body %}

{{ form_start(form) }}
    {{ form_widget(form) }}
 <button class="btn addButton">{{ button_label|default('Save')}} </button>
{{ form_end(form) }}
{% endblock %}