{% extends 'baseLogged.html.twig' %}
{% block title %}{{parent()}} Editer une activité{% endblock %}

{% block body %}
    <h2>Edit Booking</h2>

    {{ include('booking/_form.html.twig', {'button_label': 'Update'}) }}
<div class="divButton">
    <a href="{{ path('booking_index') }}"><button class="validationButton">back to list</button></a>
</div>
    {{ include('booking/_delete_form.html.twig') }}
{% endblock %}
