{% extends 'baseLogged.html.twig' %}
{% block title %}{{parent()}} Booking index{% endblock %}

{% block body %}{{parent()}}
    <h2>Booking index</h2>

    <table class="tableIndex">
        <thead>
            <tr>
                <th>Début</th>
                <th>Fin</th>
                <th>Titre</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr class="itemList">
                <td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.title }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">Voir</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune activité trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<div class="divButton">
    <a href="{{ path('booking_new') }}"><button class="addButton">Create new</button></a>
</div>
{% endblock %}
