{% extends 'baseLogged.html.twig' %}

{% block title %}{{parent()}}New Booking{% endblock %}

{% block body %}{{parent()}}
    <h2>Create new Booking</h2>

    {{ include('booking/_form.html.twig') }}

    <a href="{{ path('booking_index') }}">back to list</a>
{% endblock %}
