{% extends 'baseLogged.html.twig' %}

{% block title %}
	{{parent()}}Booking
{% endblock %}

{% block body %}
	{{parent()}}
<style>
    .tableTitle{
        background-color: {{ userColor }};
        border: {{ userColor }};
    }
</style>
	<h2>Booking</h2>
	<table class="tableShow">
		<tbody>
			<tr class="tableTitle">
				<td><h3>{{ booking.title }}</h3></td>
			</tr>
			<tr class="start_end">
				<th class="status">Début</th>
				<td>{{ booking.beginAt ? booking.beginAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr class="start_end">
				<th class="status">Fin</th>
				<td>{{ booking.endAt ? booking.endAt|date('Y-m-d H:i:s') : '' }}</td>
			</tr>

		</tbody>
	</table>

	<a href="{{ path('booking_index') }}"><button class="validationButton">Retour à la liste</button></a>

	<a href="{{ path('booking_edit', {'id': booking.id}) }}"><button class="validationButton">Modifier</button></a>

	{{ include('booking/_delete_form.html.twig') }}
{% endblock %}
