{% extends 'baseLogged.html.twig' %}

{% block title %}{{ parent() }}- Ajouter un objet{% endblock %}

{% block body %}{{ parent() }}
{{ form_start(addSupplyForm) }}
<h2>Ajouter une membre au foyer</h2>
{{ form_row(addSupplyForm.Name) }}
{{ form_row(addSupplyForm.Quantity) }}
<input class="validationButton" type="submit" value="Ajouter"/>
{{ form_end(addSupplyForm) }}
<div class="divButton">
    <a href="{{ path('supply') }}">
        <button class="backButton">Retour</button>
    </a>
</div>
{% endblock %}
