{% extends 'baseLogged.html.twig' %}

{% block title %}{{ parent() }}Inventaire{% endblock %}

{% block body %}{{ parent() }}
<style>
    li{
        display:flex;
        flex-direction: row;
    }
    .supply{
        width: 150px;
    }
</style>

<h2>Inventaire de {{ username }}</h2>

<ul id="supply">
    {% if supplyArray == NULL %}
        <p>Vous n'avez ajouté aucun objet à votre inventaire. Pensez à le faire !</p>
    {% endif %}
    {% for object in supplyArray %}
        <li>
            <div class="supply">
                {{ object.name }}
            </div>
            <div class="supply">
                Quantité : {{ object.quantity }}
            </div>
        </li>
    {% endfor %}
</ul>
<div class="divButton">
    <a href="{{ path('addSupply') }}">
        <button class="addButton"> Ajouter un objet</button>
    </a>
</div>
{% endblock %}
