<!DOCTYPE html>
<html>
    <head>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
        <meta charset="UTF-8">
        <title>{% block title %}Agenda - {% endblock %}</title>
    </head>
    <body>
        {% block body %}
        <header class="notLogged">
            <h1>Agenda</h1>
        </header>
        
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
