<!DOCTYPE html>
<html>
	<head>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		<meta charset="UTF-8">
		<title>
			{% block title %}Agenda -
			{% endblock %}
		</title>
	</head>
	<body>
		{% block body %}
			<header class="logged">
				<div class="title">
					<div>
						<h1>Agenda</h1>
					</div>
					<div>
                    <a href="{{ path('profile')}}">
                        <span class="profileName">
                            {{ username }}
                        </span>
                    </a>
						<a href="{{ path('app_logout') }}">
							<button class="logout">
								Logout
							</button>
						</a>
					</div>
				</div>
				<nav>
					<ul>
						<a href="{{ path('family') }}">
							<li>Foyer</li>
						</a>
						<a href="{{ path('supply') }}">
							<li>Inventaire</li>
						</a>
						<a href="{{ path('booking_calendar') }}">
							<li>Planning</li>
						</a>
					</ul>
                <nav>
            </header>

						{% endblock %}
						{% block javascripts %}
							{{ encore_entry_script_tags('app') }}
						{% endblock %}
					</body>
				</html>
